.App {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-size: 5em;
  font-weight: 600;
  color: white;

  background-color: rgb(31, 31, 31);
  border: 20px solid rgb(28, 28, 28);
  overflow: hidden;
}

.App p {
  user-select: none;
}